includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: max
    ignoreErrors:
        - '#Function apply_filters invoked with \d+ parameters, \d+ required.#'
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    paths:
        - includes/
    excludePaths:
        - vendor/
    scanFiles:
        - uptimemonster-site-monitor.php
